.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidebar content"
    "footer footer";
}

@media (max-width: 700px)  {
    .grid-container {
        grid-template-areas:
        "sidebar"
        "content"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.navbar {
    background-color: #343a40 !important;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff !important;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F8F9FA;
    font-size: 1.25rem;
}

.content {
    grid-area: content;
    margin: 20px;
    min-height: 600px;
}

.comment-group {
    height: 300px;
    overflow-y: scroll;
}

.footer {
    grid-area: footer;
}

.avatar {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cmt-header {
    font-size: 1.1rem;
}
