*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.login-page{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/banner.jpg);
    position: absolute;
}
.login-box{
    width: 380px;
    height: 480px;
    position :relative;
    margin:6% auto;
    padding: 5px;
    background:white; 
    
}
.input{
    top: 180px;
    position: absolute;
    width: 280px;
    left:50px;
}
.input-box{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    outline: none;
    background: #2196F3;
    border-radius: 30px;
}
nav{
    background: #0082e6;
    height: 80px;
    width:100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a.hover{
    background: #1b9gff;
    transition: .5s;
}